img{
   height: 50px;
    width: 50px;
    margin-left: 10px;
background-size: cover;
    position: absolute;
padding-top: -5px;
}
nav{
    display: flex;
    margin-left:100px ;
    margin-top: 20px;  
margin-bottom: 5px;
gap: 35px;
}
a{
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 18px;
    color: black;
    font-weight: 1em;
}
a:hover {
    border-bottom: 3px solid palevioletred;

}
header{
    height: 60px;
    border-bottom: 2px solid black;
 display: flex;
gap: 100px;
overflow: hidden;
}
.search{
    height: 30px;
    width: 380px;
    border-radius: 10px;
    margin-top: 15px;
    border-color: rgba(0, 0, 0, 0.404);
}
.profile{
background-image: url(https://cdn-icons-png.flaticon.com/128/1077/1077063.png);
background-repeat: no-repeat;
height: 30px;
width:50px;
cursor: pointer;
background-size: cover;
margin-top: 15px;
position: relative;
}
.whislist{
    background-image: url(https://cdn-icons-png.flaticon.com/128/4379/4379561.png);
    background-repeat: no-repeat;
height: 30px;
width:55px;
cursor: pointer;
background-size: cover;
margin-top: 5px;
margin-top: 15px;
position: relative;
}
.bag{
    background-image: url(https://cdn-icons-png.flaticon.com/128/2662/2662503.png);
    background-repeat: no-repeat;
height: 30px;
width:45px;
cursor: pointer;
background-size: cover;
margin-top: 5px;
margin-top: 15px;
position: relative;
}
.profile:hover{
    border-bottom: 5px solid palevioletred;
}
.whislist:hover{
    border-bottom: 5px solid palevioletred;

}
.bag:hover{
    border-bottom: 5px solid palevioletred;

}
.new{
    color: palevioletred;
    font-weight: 8em;
}
.items-container{
position: relative;
height: 450px;
width: 350px;
margin-left: 20px;
margin-top: 10px;
}
.item-container{
    position:relative ;
    height: 300px;
    width: 300px;
    margin-left: 25px;
}
.image-1{
    height: 300px;
width: 300px;
}
.container{
    margin-left:40px;
    margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
column-gap: 10px;}
.style{
    margin-left: 10px;

}
.discount{
    margin-left: 10px;
}
.addbtn{
    margin-left: 80px;
     height: 20px;
     width: 150px;
     border-radius: 10px;
     color: white;
     border: none;
     background-color: palevioletred;
     position:relative;
     margin-top: 10px;

    }
    .discount{
        color:orange;
    }
    
    .company{
        position:ralative;
        margin-top:5px;   
       }
       .price{
        position:ralative;
        margin-top:5px;   
       }
